/* CSS Document */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 1rem;
  max-width: 1366px;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo span:first-of-type {
  padding: .75rem 1rem;
  background-color: #ff6584;
  font-weight: 800;
  color: #fff;
  margin-right: -.75rem;
  font-size: 1rem;
}
.logo span:last-of-type {
  padding: .75rem 1.25rem;
  font-weight: 500;
  color: #2f2e41;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 0;
}
nav {
  display: flex;
  margin-right: -.5rem;
}
nav a, nav svg {
  text-decoration: none;
  color: #2f2e41;
  padding: .5rem;
  font-size: 1.25rem;
}
section {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
}
img {
  width: 325px;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  line-height: 2.75rem;
  color: #2f2e41;
  margin: 1.25rem 0;
}
h1 span {
  text-decoration: underline;
  text-decoration-color: #ff6584;
}
p {
  line-height: 1.5rem;
  color: #6d6c7e;
	font-weight: 500;
}